* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica, Arial, Helvetica, sans-serif;
}

:root {
  --shope-color: #ee4d2d;
  /* --shope-color: #9e4be7; */
}


.login-container-content-item-2 {
  display: flex;
  flex-direction: row-reverse;
}

.login-container-content-item-2-form {
  width: 400px;
  height: 482px;
  background-color: #fff;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
}

.login-container-content-item-2-form-header {
  height: 103px;
  display: flex;
  padding: 22px 30px;
  justify-content: space-between;
}

.login-container-content-item-2-form-header-item1 {
  flex: 1;
  font-size: 1.25rem;
  text-align: center;
  line-height: 59px;
}

.login-container-content-item-2-form-header-item2 {
  flex: 2;
  display: flex;
  align-items: center;
}

.login-container-content-item-2-form-header-item2-QRtext {
  flex: 3;
  color: #ffc209;
  font-weight: bold;
  padding: 10px 10px;
  background-color: #fefaec;
  border: 2px solid #ffbf00;
  line-height: 18px;
}

.login-container-content-item-2-form-header-item2-QRicon {
  flex: 1;
  background-image: url(../img/QR-icon.png);
  background-size: contain;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 100%;
  margin-left: 8px;
}

.login-container-content-item-2-form-header-item2-QRicon:hover{
  cursor: pointer;
}

.login-container-content-item-2-form-body {
  height: 300px;
  display: flex;
  flex-direction: column;
}

.login-container-content-item-2-form-body-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 184px;
  padding: 0px 30px;
  position: relative;
}

.login-container-content-item-2-form-body-item-1-inputEmail {
  height: 40px;
  border: 1px solid #ccc;
  padding: 12px;
}

.login-container-content-item-2-form-body-item-1-inputEmail::placeholder {
  font-size: 0.9rem;
  opacity: 0.6;
}

.invalidEmail-announce {
  position: absolute;
  top: 40px;
  font-size: 0.75rem;
  color: red;
  display: none;
}

.invalidPassword-announce{
  position: absolute;
  top: 115px;
  font-size: 0.75rem;
  color: red;
  display: none;

}
.login-container-content-item-2-form-body-item-1-passwordBox {
  display: flex;
  border: 1px solid #ccc;
}

.login-container-content-item-2-form-body-item-1-inputPassword {
  height: 40px;
  border: none;
  padding: 12px;
  flex: 1;
}

.login-container-content-item-2-form-body-item-1-inputPassword::placeholder {
  font-size: 0.9rem;
  opacity: 0.6;
}

.login-container-content-item-2-form-body-item-1-inputPassword-eyeIcon {
  width: 40px;
  height: 40px;
  background-image: url(../img/close-eye.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.login-container-content-item-2-form-body-item-1-inputPassword-openEyeIcon {
  width: 40px;
  height: 40px;
  background-image: url(../img/open-eye.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: none;
}

.login-container-content-item-2-form-body-item-1-inputPassword-eyeIcon:hover {
  cursor: pointer;
}

.login-container-content-item-2-form-body-item-1-submitLogin {
  height: 40px;
  background-color: var(--shope-color);
  border: none;
  color: #fff;
}

.login-container-content-item-2-form-body-item-1-submitLogin:hover{
  opacity: 0.9;
}

.login-container-content-item-2-form-body-item-1-submitLogin:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}


.login-container-content-item-2-form-body-item-2 {
  flex: 1;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.login-container-content-item-2-form-body-item-2-top {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container-content-item-2-form-body-item-2-middle {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container-content-item-2-form-body-item-2-bottom {
  flex: 1;
  display: flex;
}

.login-container-content-item-2-form-body-item-2-top-item {
  font-size: 0.75rem;
  text-decoration: none;
  color: #0f75ba;
}

.login-container-content-item-2-form-body-item-2-middle-side {
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.login-container-content-item-2-form-body-item-2-middle-center {
  font-size: 0.75rem;
  padding: 0 16px;
  color: #dbdbdb;
}

.login-container-content-item-2-form-body-item-2-bottom-loginByFB {
  flex: 1;
  display: flex;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding: 8px 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.login-container-content-item-2-form-body-item-2-bottom-loginByGG {
  flex: 1;
  display: flex;
  margin-left: 5px;
  border: 1px solid #ccc;
  padding: 8px 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.login-container-content-item-2-form-body-item-2-bottom-loginByFB:hover,
.login-container-content-item-2-form-body-item-2-bottom-loginByGG:hover{
  background-color: rgba(0,0,0,.02);
}


.login-container-content-item-2-form-body-item-2-bottom-loginByFB-icon {
  height: 24px;
  width: 24px;
  background-image: url(../img/facebook-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.login-container-content-item-2-form-body-item-2-bottom-loginByGG-icon {
  height: 24px;
  width: 24px;
  background-image: url(../img/google-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.login-container-content-item-2-form-footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.login-container-content-item-2-form-footer-text {
  font-size: 0.875rem;
  color: #ccc;
}

.login-container-content-item-2-form-footer-text-registerLink {
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--shope-color);
}

